.text {
    padding-left: 15px;
    padding-right: 15px;
}
.img-way {
    width: 100%;
    height: auto;
}
.title-alps {
    color: white;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 0px;
    font-family: 'PT Serif', sans-serif;
    text-align: left;
    padding-left: 50px;
}
.title-alps +h6 {
    font-family: 'Yantramanav', sans-serif;
    font-size: 13px;
    color: #81a029;
    padding-left: 50px;
    text-transform: uppercase;
    font-weight: 500;
}
.alps-description {
    font-family: 'Yantramanav', sans-serif;
    font-size: 17px;
    color: white;
    padding-left: 50px;
    line-height: 25px;
}
.booking {
    margin-left: 50px;
    margin-top: 20px;
    width: 135px;
    height: 45px;
    background: rgba(41, 40, 41, 1);
    color: white;
    font-family: 'Yantramanav', sans-serif;
    font-size: 17px;
    border: none;
}
.booking:hover {
    background-color: rgb(59, 59, 59);
}
.check-pic {
    margin-right: 5px;
}
.arrow {
    margin-left: 5px;
    padding-top: 7px;
}