.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
[class*="col-"] {
    padding-left: 15px;
    padding-right: 15px;
}
.mini-title {
    width: 160px;
    height: 20px;
    margin-top: 80px;
}
.wanderer-description {
    padding-top: 30px;
    color: white;
    font-family: 'Yantramanav', sans-serif;
    font-size: 17px;
    line-height: 25px;
    
}
li {
display: flex;
align-items: center;
}
li a {
    color: white;
    font-family: 'Yantramanav', sans-serif;
    font-size: 17px;
    line-height: 35px;
    text-decoration: none;
    border-bottom: solid 2px  transparent;
}
li a:hover, .authors a:hover {
    color: #81a029;
    border-bottom: solid 2px  #81a029;
}
.fa-angle-right {
    color: #81a029;
    padding-right: 5px;
}