.footer {
    border-top: 1px solid rgba(255, 255, 255, 0.363);
    height: 80px;
    background-color:rgba(31, 30, 28, 1);
}
.authors {
    padding-top: 4%;
    color: white;
    font-family: 'Yantramanav', sans-serif;
    font-size: 17px;
    line-height: 20px;
}
.authors a {
    color: white;
    text-decoration: none;
}

.icons {
    padding-right: 10px;
    color: #81a029;
}
.icons:hover {
    color: #a9ca4d;
}
li  {
    list-style-type: none;
}