.footer {
    border-top: 1px solid rgba(255, 255, 255, 0.363);
    
    background-color:rgba(31, 30, 28, 1);
}
.authors {
    padding-top: 4%;
    color: white;
    font-family: 'Yantramanav', sans-serif;
    line-height: 20px;
}
.authors button {
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 16px;
    
}
.authors button:hover {
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    color: #81a029;
}

.social-icons button {
    padding-right: 9px;
    color: #81a029;
    min-width: 1px;
}
.icons:hover {
    color: #a9ca4d;
}
li  {
    list-style-type: none;
}