article {
    padding-left: 0;
    padding-right: 0;
}

.news-title {
    margin-top: 70px;
    margin-bottom: 70px;
    color: white;
    font-size: 48px;
    font-weight: 700;
    font-family: 'PT Serif', sans-serif;
}
.user-data {
    margin-top: 15px;
    text-decoration: none; 
    position: relative;
    left: 5%;
}
.user {
    text-decoration: none;
    border-bottom-width: 1px;
    font-family: 'Yantramanav', sans-serif;
    font-size: 16px;
    color: grey;
}
.user-icon {
    color: grey;
   position: absolute;
   right: 100%;
   top:4px;
}
.fa-clock {
    padding-left: 5px;
    padding-right: 5px;
}
.data {
    font-family: 'Yantramanav', sans-serif;
    font-size: 16px;
    color: grey;
}
.news-text {
    margin-top: 15px;
}
.news-image {
    display: inline-block;
    overflow: hidden; 
    height: auto;
    width: 100%;
}
.news-image img {
    transition: 1s;
    display: block;
}
.news-image img:hover {
    transform: scale(1.2);
}
.user-data {
    line-height: 25px;
}
.article {
    padding-left: 15px;
    padding-right: 15px;
}
.article-title {
    color: white;
    font-size: 22px;
    font-weight: 700;
    font-family: 'PT Serif', sans-serif;
    text-decoration: none;
}
.article-title + p {
    font-family: 'Yantramanav', sans-serif;
    font-size: 17px;
    color: white;
    font-weight: 300;
    line-height: 25px;
}
.like-row {
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
}
.likes-number, .read-mr {
    display: flex;
    align-items: center;
}
.fa-heart {
    color: #81a029;
    padding-right: 5px;
}
.number, .fa-file-alt{
    color: grey;
}
.read-mr {
    padding-right: 20px;
}
.read-mr a {
    color: #81a029;
    text-decoration: none;
    font-family: 'Yantramanav', sans-serif;
    font-size: 17px;
    border-bottom: solid 2px transparent;
}
.read-mr a:hover {
    border-bottom: solid 2px #81a029;
}
.fa-file-alt {
    padding-right: 5px;
}

