.title-video {
    padding-top: 70px;
    margin-bottom: 50px;
    color: white;
    font-size: 48px;
    font-weight: 700;
    font-family: 'PT Serif', sans-serif;
    text-align: center;
}

.App {
    font-family: sans-serif;
    text-align: center;
  }